%div{:id => 'products_uniforms_kitchen'}
  %h1 Kitchen Garments
  %div{:id => 'products_uniforms_kitchen_row'}
    %h2 Chef Coats
    %div{:id => 'products_uniforms_kitchen_row_container'}
      %div{:id => 'products_uniforms_kitchen_row_container_left'}
        %img{:src => '/images/products/uniforms/kitchen/chef_coats_thumb.png', :alt => 'Chef Coats'}
      %div{:id => 'products_uniforms_kitchen_row_container_right'}
        %p 
          Our 
          %span{:class => 'blue'} Chef Coats 
          provide a stand-up collar, vented cuffs, a left breast pocket, and a reversible front.
          The 65/35 Chef Coat is made of 7 oz. fine line twill, 65% polyester/35% cotton, and is 
          double-breasted with two rows of four buttons
  .clear
  %div{:id => 'products_uniforms_kitchen_row'}
    %h2 Chef Pants
    %div{:id => 'products_uniforms_kitchen_row_container'}
      %div{:id => 'products_uniforms_kitchen_row_container_left'}
        %img{:src => '/images/products/uniforms/kitchen/chef_pants_thumb.png', :alt => 'Chef Pants'}
      %div{:id => 'products_uniforms_kitchen_row_container_right'}
        %p 
          We have two options for 
          %span{:class => 'blue'} Chef Pants:  
          Side elastic waist band with zipper and snap closure, two 
          front slant pockets and two patch hip pockets or, Full-elastic waist with drawstring.  Two side 
          seam pockets and one back patch pocket.
        %p
          Chef Hats are available.
        %p
          Our Cook Shirt is an industrial shirt specialized for work in the kitchen.  No pockets and 7 gripper 
          front.
  .clear
  %div{:id => 'products_uniforms_kitchen_row'}
    %h2 Aprons
    %div{:id => 'products_uniforms_kitchen_row_container'}
      %div{:id => 'products_uniforms_kitchen_row_container_left'}
        %img{:src => '/images/products/uniforms/kitchen/aprons_thumb.png', :alt => 'Aprons'}
      %div{:id => 'products_uniforms_kitchen_row_container_right'}
        %p 
          %span{:class => 'blue'} Aprons 
          come in a variety of colors and style options, from full length bistro to a more traditional bib 
          apron.  We have everything you'd need from front of house to back.
  .clear
