%div{:id => 'contact_us'}
  %div{:id => 'contact_us_left'}
    %h1 Contact Us
    %nav{:id => 'contact_us_form_nav'}
      %a{:id => 'contact_us_form_nav_contact', :href => '#contact', :class => 'selected'} Contact Us
      %a{:id => 'contact_us_form_nav_request_service', :href => '#request_service'} Request Service
    %div{:id => 'contact_us_left_contact'}
      %p
        If you feel something in your rental program needs attention, 
        complete this form to prompt action.
      %form{:id => 'contact', :action => '/contact_us/contact', :method => 'post'}
        %div
          %input{:id => 'contact_date', :type => 'text', :name => 'contact[date]', :placeholder => 'Date:', :title => 'Date'}
        %div
          %input{:id => 'contact_name', :type => 'text', :name => 'contact[name]', :placeholder => 'Name:', :title => 'Name'}
        %div
          %input{:id => 'contact_business', :type => 'text', :name => 'contact[business]', :placeholder => 'Business:', :title => 'Business'}
        %div
          %input{:id => 'contact_address', :type => 'text', :name => 'contact[address]', :placeholder => 'Address:', :title => 'Address'}
        %div
          %input{:id => 'contact_city_state_zip', :type => 'text', :name => 'contact[city_state_zip]', :placeholder => 'City, State, Zip:', :title => 'City, State, Zip'}
        %div
          %input{:id => 'contact_phone', :type => 'text', :name => 'contact[phone]', :placeholder => 'Phone:', :title => 'Phone'}
        %div
          %input{:id => 'contact_email', :type => 'text', :name => 'contact[email]', :placeholder => 'Email:', :title => 'Email'}
        %div
          %h2 Request For Action:
          %div
            %input{:id => 'contact_worn', :type => 'checkbox', :name => 'contact[worn]'} 
            %span Some of my garments are worn.
          %div
            %input{:id => 'contact_missing', :type => 'checkbox', :name => 'contact[missing]'} 
            %span Some of my garments are missing.
          %div
            %input{:id => 'contact_more_inventory', :type => 'checkbox', :name => 'contact[more_inventory]'} 
            %span I need more inventory.
          %div
            %input{:id => 'contact_less_inventory', :type => 'checkbox', :name => 'contact[less_inventory]'} 
            %span I need less inventory.
          %div
            %input{:id => 'contact_other', :type => 'checkbox', :name => 'contact[other]'} 
            %span Other (comment below)
          %div
            %input{:id => 'contact_see_me', :type => 'checkbox', :name => 'contact[see_me]'} 
            %span Please see me.
        %div
          %textarea{:id => 'contact_comments', :name => 'contact[comments]', :placeholder => 'Comments:', :title => 'Comments', :cols => 51, :rows => 20}
        %ul
          %li
            %input{:id => 'contact_reset', :type => 'reset', :name => 'contact[reset]', :value => 'RESET', :title => 'Reset'}
          %li
            %input{:id => 'contact_submit', :type => 'submit', :name => 'contact[submit]', :value => 'SUBMIT', :title => 'Submit'}
        .clear
    %div{:id => 'contact_us_left_request_service'}
      %p
        If you are looking for textile 
        rental service, use our request for services form.
      %form{:id => 'request_service', :action => '/contact_us/request_service', :method => 'post'}
        %div
          %input{:id => 'request_service_date', :type => 'text', :name => 'request_service[date]', :placeholder => 'Date:', :title => 'Date'}
        %div
          %input{:id => 'request_service_name', :type => 'text', :name => 'request_service[name]', :placeholder => 'Name:', :title => 'Name'}
        %div
          %input{:id => 'request_service_business', :type => 'text', :name => 'request_service[business]', :placeholder => 'Business:', :title => 'Business'}
        %div
          %input{:id => 'request_service_address', :type => 'text', :name => 'request_service[address]', :placeholder => 'Address:', :title => 'Address'}
        %div
          %input{:id => 'request_service_city_state_zip', :type => 'text', :name => 'request_service[city_state_zip]', :placeholder => 'City, State, Zip:', :title => 'City, State, Zip'}
        %div
          %input{:id => 'request_service_phone', :type => 'text', :name => 'request_service[phone]', :placeholder => 'Phone:', :title => 'Phone'}
        %div
          %input{:id => 'request_service_email', :type => 'text', :name => 'request_service[email]', :placeholder => 'Email:', :title => 'Email'}
        %div
          %h2 Do You Use:
          %div
            %input{:id => 'request_service_garments', :type => 'checkbox', :name => 'request_service[garments]'} 
            %span Garments
          %div
            %input{:id => 'request_service_entrance_rugs', :type => 'checkbox', :name => 'request_service[entrance_rugs]'} 
            %span Entrance Rugs
          %div
            %input{:id => 'request_service_dust_mops', :type => 'checkbox', :name => 'request_service[dust_mops]'} 
            %span Dust Mops
          %div
            %input{:id => 'request_service_towels', :type => 'checkbox', :name => 'request_service[towels]'} 
            %span Towels
          %div
            %input{:id => 'request_service_linens', :type => 'checkbox', :name => 'request_service[linens]'} 
            %span Linens
          %div
            %input{:id => 'request_service_other', :type => 'checkbox', :name => 'request_service[other]'} 
            %span Other
        %div
          %input{:id => 'request_service_who_is_current_supplier', :type => 'text', :name => 'request_service[who_is_current_supplier]', :placeholder => 'Who is your current supplier:', :title => 'Who is your current supplier'}
        %div
          %input{:id => 'request_service_when_does_contract_expire', :type => 'text', :name => 'request_service[when_does_contract_expire]', :placeholder => 'When does your contract expire:', :title => 'When does your contract expire'}
        %div
          %textarea{:id => 'request_service_improvements', :name => 'request_service[improvements]', :placeholder => 'Are there any improvements you would like in your rental agreement:', :title => 'Are there any improvements you would like in your rental agreement', :cols => 51, :rows => 5}
        %div
          %textarea{:id => 'request_service_primary', :name => 'request_service[primary]', :placeholder => 'What is your company’s primary product/service:', :title => 'What is your company’s primary product/service', :cols => 51, :rows => 5}
        %div
          %textarea{:id => 'request_service_comments', :name => 'request_service[comments]', :placeholder => 'Comments:', :title => 'Comments', :cols => 51, :rows => 5}
        %ul
          %li
            %input{:id => 'request_service_reset', :type => 'reset', :name => 'request_service[reset]', :value => 'RESET', :title => 'Reset'}
          %li
            %input{:id => 'request_service_submit', :type => 'submit', :name => 'request_service[submit]', :value => 'SUBMIT', :title => 'Submit'}
        .clear
  %div{:id => 'contact_us_right'}
    %img{:id => 'map', :src => '/images/contact_us/map.png'}
    %h1 Management
    %div{:id => 'contact_us_right_management_left'}
      %h2 CEO
      %h3 Jay J. Jackson
      %a{:href => 'mailto:jayjack@jackson-services.com'} jayjack@jackson-services.com
      %h2 President
      %h3 Jesse J. Jackson
      %a{:href => 'mailto:jackson@jackson-services.com'} jackson@jackson-services.com
      %h2 Vice President
      %h3 Nikki J. Jackson
      %a{:href => 'mailto:nikkil@jackson-services.com'} nikkil@jackson-services.com
      %h2 Vice President
      %h3 Jason J. Jackon
      %a{:href => 'mailto:jasjack@jackson-services.com'} jasjack@jackson-services.com
      %h2 Service Manager
      %h3 Dan Korger
      %a{:href => 'mailto:dkorger@jackson-services.com'} dkorger@jackson-services.com
      %h2 Key Account Manager
      %h3 Paul Greenlee
      %a{:href => 'mailto:prgreen@jackson-services.com'} prgreen@jackson-services.com
      %p 402.276.0961
    %div{:id => 'contact_us_right_management_right'}
      %h2 Route Manager
      %h3 Kurt Hall
      %a{:href => 'mailto:khall@jackson-services.com'} khall@jackson-services.com
      %h2 Route Manager
      %h3 Greg Romshek
      %a{:href => 'mailto:grom@jackson-services.com'} grom@jackson-services.com
      %h2 Sales
      %h3 Steve Venditte-Omaha
      %a{:href => 'mailto:stevev@jackson-services.com'} stevev@jackson-services.com
      %p 402.660.2846
      %h2 Sales
      %p Lincoln
      %a{:href => 'mailto:jasjack@jackson-services.com'} jasjack@jackson-services.com
      %p 402.690.3747
      %h2 Sales
      %h3 Dennis Cloeter
      %a{:href => 'mailto:dennisc@jackson-services.com'} dennisc@jackson-services.com
      %p 402.276.2917
      %h2 Office
      %h3 Barbara Duffy
      %a{:href => 'mailto:bduffy@jackson-services.com'} bduffy@jackson-services.com
    .clear
    %h1{:class => 'left'} Office Phone
    %p
      Columbus: 402.564.2824
      %br
      Lincoln: 402.477.7742
      %br
      Omaha: 402.384.2824
      %br
      Grand Island: 308.381.8036
      %br
  .clear