%div{:id => 'products_uniforms_workwear'}
  %h1 Industrial Workwear
  %p
    Industrial uniforms provide a professional image for your company while also serving to protect your employees. Because we serve customers from 
    several industry sectors, we have an extensive network of vendors who can supply us with almost any item currently available. We match specific 
    products to specific customer needs through analysis and evaluation.
  %div{:id => 'products_uniforms_workwear_bottom'}
    %div{:id => 'products_uniforms_workwear_bottom_left'}
      %h2 Industrial Shirts
      %a{:href => '/products/uniforms/workwear/shirts', :title => 'Industrial Shirts'}
        %img{:src => '/images/products/uniforms/workwear/shirts_thumb.png', :alt => 'Industrial Shirts'}
      %h2 Industrial Pants / Shorts
      %a{:href => '/products/uniforms/workwear/pants', :title => 'Industrial Pants / Shorts'}
        %img{:src => '/images/products/uniforms/workwear/pants_thumb.png', :alt => 'Industrial Pants / Shorts'}
    %div{:id => 'products_uniforms_workwear_bottom_right'}
      %h2 Coveralls
      %a{:href => '/products/uniforms/workwear/coveralls', :title => 'Coveralls'}
        %img{:src => '/images/products/uniforms/workwear/coveralls_thumb.png', :alt => 'Coveralls'}
      %h2 Jackets
      %a{:href => '/products/uniforms/workwear/jackets', :title => 'Jackets'}
        %img{:src => '/images/products/uniforms/workwear/jackets_thumb.png', :alt => 'Jackets'}
  .clear