%div{:id => 'products_uniforms_workwear_coveralls'}
  %h1 Coveralls
  %div{:id => 'products_uniforms_workwear_coveralls_row'}
    %h2 Coveralls
    %div{:id => 'products_uniforms_workwear_coveralls_row_container'}
      %div{:id => 'products_uniforms_workwear_coveralls_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/coveralls/coveralls_thumb.png', :alt => 'Coveralls'}
      %div{:id => 'products_uniforms_workwear_coveralls_row_container_right'}
        %p 
          %span{:class => 'blue'} Fabric: 
          Twill
        %p
          %span{:class => 'blue'} Blend: 
          65% Polyester/35% combed cotton
        %p
          %span{:class => 'blue'} Sizes: 
          RG: 34-62 - LN: 38-58
        %p
          %span{:class => 'blue'} Colors:
        %ul
          %li Navy
          %li Brown
          %li Charcoal
          %li Gray
          %li Spruce Green
          %li White
  .clear
