div#home_welcome
  div#home_welcome_left,
  div#home_welcome_right
    float: left
    
  div#home_welcome_left
    width: 360px
    margin-right: 20px
    
    p
      margin-bottom: 20px
      font-size: 12px
      line-height: 16px
    
  div#home_welcome_right
    width: 570px
    height: 380px
    
    img#truck
      width: 570px
      height: 380px
      
  div#home_welcome_collage
    margin-top: 40px
    
    div#home_welcome_collage_left,
    div#home_welcome_collage_middle,
    div#home_welcome_collage_right
      float: left
      
    div#home_welcome_collage_left,
    div#home_welcome_collage_middle
      width: 290px
      height: 485px
      
      img
        display: block
        width: 290px
        height: 230px
      
      img:first-child
        margin-bottom: 25px
        
    div#home_welcome_collage_middle
      margin: 0px 17px 0px 18px
        
    div#home_welcome_collage_right
      width: 335px
      height: 485px
      
      img#delivery
        display: block
        width: 335px
        height: 485px