%div{:id => 'products_restroom_supplies_soap'}
  %h1 Soap
  %div{:id => 'products_restroom_supplies_soap_row'}
    %h2 Soy Scrub (PK SOYL ES)
    %div{:id => 'products_restroom_supplies_soap_row_container'}
      %div{:id => 'products_restroom_supplies_soap_row_container_left'}
        %img{:src => '/images/products/restroom_supplies/soap/soy_scrub_thumb.png', :alt => 'Soy Scrub (PK SOYL ES)'}
      %div{:id => 'products_restroom_supplies_soap_row_container_right'}
        %p 
          %span{:class => 'blue'} PK SOYL ES 
          Industrial Hand Cleaner combines an extra strength soybean formula for maximum 
          skin cleansing with double scrubber action, fibril and pumice for the toughest soils.  PK SOYL ES is 
          a water activated, concentrated formula, which exfoliates naturally and is 100% biodegradable.
  .clear
  %div{:id => 'products_restroom_supplies_soap_row'}
    %h2 Foam Soap
    %div{:id => 'products_restroom_supplies_soap_row_container'}
      %div{:id => 'products_restroom_supplies_soap_row_container_left'}
        %img{:src => '/images/products/restroom_supplies/soap/foam_soap_thumb.png', :alt => 'Foam Soap'}
      %div{:id => 'products_restroom_supplies_soap_row_container_right'}
        %p 
          %span{:class => 'blue'} FoamFresh 
          antimicrobial handwash comes in 1 liter bags, to deliver more than 1300 handwashes.  
          The easiest way to clean hands.  A fragranced, luxuriant foam, that is easily dispensed for an 
          enjoyable hand wash.
        %p
          Liquid Antibacterial soap comes in 1 liter bags.
        %p
          Our Alcohol Free Hand Sanitizer is a waterless, foaming hand and skin sanitizer that kills 
          99.99% of all disease causing germs and bacteria.  Unlike alcohol based sanitizers, it will actually 
          improve skin condition with repeated use and provides long lasting residual protection after each 
          application.  It is not flammable and is safe for kids, as it is not alcohol based.  The active 
          ingredient is Benzalkonium Chloride, which is a quaternary ammonium surfactant used as
          a topical anti-infective agent.
  .clear
