%div{:id => 'jackson_services_garment_repair'}
  %div{:id => 'jackson_services_garment_repair_left'}
    %h1 Garment Inspection
    %p
      At Jackson, we understand that a uniform program means more than just a pair of pants and a shirt each day. 
      The repair and maintenance of the garments is as much a part of our responsibility to you as cleaning and delivering them.
    %ul
      %li
        We begin with the best product available, and all repairs are performed using first quality materials.
      %li
        Jackson's thorough inspection process applies our teamwork concept to ensuring wearable garments for your employees.
      %li
        Our stock of garments allows us to replace a standard item quickly, in most cases without delay of ordering from a vendor.
      %li
        Jackson supplies repair request tags, so that your personnel may easily notify our team of items needing attention.
      %li
        Repair bins provided guarantee all repairs will be done the following delivery.
      %li
        All repairs are kept separate through the entire process.
  %div{:id => 'jackson_services_garment_repair_right'}
    %img{:id => 'sewing', :src => '/images/jackson_services/garment_repair/sewing.png', :alt => 'Sewing'}
  .clear
  %div{:id => 'jackson_services_garment_repair_images'}
    %img{:id => 'left', :src => '/images/jackson_services/garment_repair/left.png', :alt => 'Left'}
    %img{:id => 'right', :src => '/images/jackson_services/garment_repair/right.png', :alt => 'Right'}
  .clear