%div{:id => 'products_uniforms_workwear_jackets'}
  %h1 Jackets
  %p Our jackets are available in various styles and can be used in many occupations. We have several styles of jackets for you to choose from.
  %div{:id => 'products_uniforms_workwear_jackets_row'}
    %h2 Slash Pocket
    %div{:id => 'products_uniforms_workwear_jackets_row_container'}
      %div{:id => 'products_uniforms_workwear_jackets_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/jackets/slash_pocket_thumb.png', :alt => 'Slash Pocket'}
      %div{:id => 'products_uniforms_workwear_jackets_row_container_right'}
        %p 
          %span{:class => 'blue'} Slash Pocket:  
          Waist length jacket, with two lower slash pockets and permanent liner
        %p
          %span{:class => 'blue'} Team: 
          An athletic look for rugged wear, permanently lined. 
        %p
          %span{:class => 'blue'} Panel: 
          29 " length to keep you comfortably warm, permanently lined.
  .clear
