%div{:id => 'jackson_services'}
  %h1 Garment Services
  %p Our core services include rental, Customer-Owned Goods (COG) processing, and direct sale. Here is an explanation of each of our garment services:
  %ul
    %li Rental: Customer rents Jackson-owned products on a weekly basis.
    %li
      Processing Customer-Owned Goods (COG): Jackson processes, delivers and maintains customer-owned property. The customer can purchase
      items through Jackson or provide existing items for processing. This type of account is serviced the same as rental, the only difference is the
      ownership of the property.
  %h1{:class => 'blue'} Service Benefits
  %p In addition to our core programs, we offer service systems based on the unique needs of our customers:
  %div{:id => 'jackson_services_benefits'}
    %ul{:id => 'jackson_services_benefits_left'}
      %li Free Garment Repairs
      %li Service and Quality Guarantee
      %li New Wearers Installed in Under 2 Weeks
    %ul{:id => 'jackson_services_benefits_middle'}
      %li Continual Replacement of Worn Garments
      %li Repair Center Utilizing RFID Technology
      %li 100% Accuracy and Detailed Wearer History
    %ul{:id => 'jackson_services_benefits_right'}
      %li 24/7 Emergency On-Call Service
      %li Direct Embroidery
      %li 
        Minnie Track RFID for Garment and Mat 
        Inventory Control
  .clear
  %div{:id => 'jackson_services_columns'}
    %div{:id => 'jackson_services_columns_minnie_track_scanning'}
      %h1 Minnie Track Sort Scanning
      %a{:href => '/jackson_services/minnie_track_scanning'}
        %img{:src => '/images/jackson_services/minnie_track_scanning_thumb.png', :alt => 'Minnie Track Sort Scanning'}
    %div{:id => 'jackson_services_columns_garment_inspection'}
      %h1 Garment Inspection
      %a{:href => '/jackson_services/garment_inspection'}
        %img{:src => '/images/jackson_services/garment_inspection_thumb.png', :alt => 'Garment Inspection'}
    %div{:id => 'jackson_services_columns_garment_repair'}
      %h1 Garment Repair
      %a{:href => '/jackson_services/garment_repair'}
        %img{:src => '/images/jackson_services/garment_repair_thumb.png', :alt => 'Garment Repair'}
  .clear
  %h1{:id => 'jackson_services_products_services'} Products and Services
  %div{:id => 'jackson_services_products_services_list'}