%div{:id => 'jackson_services_garment_inspection'}
  %div{:id => 'jackson_services_garment_inspection_left'}
    %h1 Garment Inspection
    %p
      At Jackson, we understand that our customers expect their uniforms to look good all the time, not just at contract renewal. 
      We have a Continuous Upgrade Program to keep the employees of your company in consistently superior uniforms.
    %ul
      %li
        Your specifications are our guide to the quality of uniform that your employees receive.
      %li
        Any uniform that does not meet your specifications can be tagged and placed in the repair bin, 
        then will be either replaced or repaired the following delivery
      %li
        "Seamless" service, without interruption, because any poor quality garments are replaced during routine inspection by our production personnel.
      %li
        Your uniforms don't suffer from the "peaks and valleys" syndrome common to regular programs.
  %div{:id => 'jackson_services_garment_inspection_right'}
    %img{:id => 'inspection', :src => '/images/jackson_services/garment_inspection/inspection.png', :alt => 'Inspection'}
  .clear
  %div{:id => 'jackson_services_garment_inspection_images'}
    %img{:id => 'left', :src => '/images/jackson_services/garment_inspection/left.png', :alt => 'Left'}
    %img{:id => 'right', :src => '/images/jackson_services/garment_inspection/right.png', :alt => 'Right'}
  .clear