%div{:id => 'testimonials'}
  %h1 Testimonials
  %div{:id => 'testimonials_left'}
    %img{:src => '/images/testimonials/lincoln_poultry.png'}
    %p
      We chose to switch to Jackson because we were extremely dissatisfied with the previous companies’ 
      service and quality of product including uniforms and mats.
      Jackson Services has exceeded our expectations in terms of quality of uniforms which include repairs and replacing them as needed.  
      The brand of clothing items they choose to carry is well representative of the image of high quality products they continue to provide on an ongoing basis.
      Jackson’s customer service and support has responded immediately and professionally to billing questions or unusual last minute requests made by us.  
      Their invoices are very straight forward with no fine print or hiddeng charges.
      I would highly recomment using Jackson Services for their superior services, quality of product, integrity and business ethics.
    %img{:src => '/images/testimonials/dino_sgourakis.png'}
    %p
      My name is Dino Sgourakis, one of the family members here at Greek Islandss Restaurant.  
      Our family as a whole has been very pleased on how easy of a transition it was to switch with Jackson.  
      Every detail that was discussed in the initial conversations has been addressed and handled with professionalism.  
      From a billing stand point, things have stayed consistent and pricing has not fluctuated. 
      In regards to service, both our salesman and route driver have been nothing, but courteous and hands on.  
      The few times we had questions or concerns, it was handled quickly and to our satisfaction.  
      From a quality stand point we are very pleased.  our mats and rugs always look clean and fresh.  
      Our work shirts always arrive on time and cleaned and with our company logo on them.  
      We are also happy with the quantities on our shirts and all three types of towels that we use.  
      I have and will continue to do so in the future recommend Jackson Services as a great company to do business with.  
      In comparison with past uniform companies, my family and I can confidently say that Jackson Services is the best one 
      we have done business with and we hope we do business together for a long time to come.  
      Also, I would be more than happy to speak to anyone that may be a potential customer for Jackson Services. 
      Thank You Jackson Services!
  %div{:id => 'testimonials_right'}
    %img{:src => '/images/testimonials/greg_reitmeier.png'}
    %p
      Jackson’s Services took over our unifrom, shop towels, shop rags and floor rugs responsibilities a few years ago.  
      We have been nothing short of impressed ever since then.  
      Their personnel at Jackson’s worked very hard to accommodate our customized needs from the time they quoted the business, 
      to working through the set-up period, to maintaining the quality of service long after the sale.
      Being in the service industry, I can tell you first-hand how important it is to service what we sell.  
      Jackson’s Services has done just that and they have done it through the test of time.  
      We have all had a contract services organization make promises to get our business.  
      And when the “honeymoon” period has elapsed, you find yourself under contract, paying the fees without truly getting the full service .  
      This has not happened in any weeek in our working relatinoship with Jackson’s.  
      If anything , they continue to pleasantly surprise us with their service and especially with their professional, courteous personnel.
      We are very thankful we contracted with Jackson’s and we appreciate that partnership more and more as time goes by.  
      And since we signed on, some of our fellow dealerships have followed suit and report the same levels of professional 
      customer service we have come to expect week in and week out.  
      Thank you Jackson’s Services and be sure to pass on our appreciation to all your staff.
    %img{:src => '/images/testimonials/kathy_steinkraus.png'}
    %p
      Jackson Services made every effort to listen to us and comply with
      our requests when setting up our company for their uniforms.  They were
      extremely informative and answered all of our questions and concerns.
      We have had several uniform services in the past that had disappointed us
      in their customer service, so it is a top requirement with our company.  We
      have had excellent response on any question on a billing or uniform
      service.  I cannot say how much we appreciate having not only great 
      uniform service, but great customer service and quick response time.
  .clear