%div{:id => 'letter_from_ceo'}
  %div{:id => 'letter_from_ceo_container'}
    %h1 A Letter From The CEO
    %p
      Some of my earliest memories of the family 
      business were always wanting to be with my big 
      brother and Dad at the plant!  Not just because I 
      wanted to be with them all the time but because 
      the plant was a fun place to be!  From the machines 
      to the people that worked there, I LOVED IT!  
    %p 
      I feel almost everyone would agree with me 
      when I make this statement..."That nothing in this 
      world would mean much to us if we didn't have the 
      people in our lives to go with it!"  Family, friends, 
      and in our case here at Jackson Services Inc. 
      employees and customers too!  
    %p 
      Something my Dad used to say to me that I will 
      never forget was, "Jaybird....Treat people the same 
      way you would like to be treated yourself!"  As I 
      grew up this simple statement/behavior has proven 
      to be a golden rule of mine.  My wife, Kathy and I 
      have passed this wisdom on to our four children.... 
      the fourth generation of family ownership.
    %p 
      Since 1924, all four generations of Jackson's know 
      that people....employees and customers are the
      lifeblood of the company!...they’re family too! 
    %p{:class => 'signature'} - Jay Jackson, CEO
  %img{:id => 'ceo', :src => '/images/about_us/letter_from_ceo/ceo.png', :alt => 'Jay Jackson, CEO'}