%div{:id => 'about_us_community'}
  %div{:id => 'about_us_community_top'}
    %div{:id => 'about_us_community_top_left'}
      %h1 Community
      %p
        We believe in working safely, not only in the plant, but at the customer site. 
        Safety contributes to a healthy workforce and a financially healthy company. 
        We have dedicated thousands of dollars and hundreds of manhours to safety training and awareness. 
        We committed resources and established a Safety Program that manages our safety process and 
        conducts training. This builds a strong foundation and gives us the human and 
        financial resources to continue growing.
      %p
        Safety training is a vital part of our team member orientation. Each new team member 
        receives information and training about safety guidelines as well as specific 
        departmental or job training from his or her immediate supervisor. 
        All route service representatives undergo a comprehensive safety 
        orientation from our Route management before ever working for Jackson. 
        All Jackson Services safety committee members meet quarterly to review all safety concerns.
    %div{:id => 'about_us_community_top_right'}
      %img{:id => 'plant', :src => '/images/about_us/community/plant.png', :alt => 'Plant'}
    .clear
  %div{:id => 'about_us_community_bottom'}
    %div{:id => 'about_us_community_bottom_left'}
    %div{:id => 'about_us_community_bottom_right'}
      %h1 Environmental Responsibility
      %p
        At Jackson, we understand that our Earth has finite resources. Because the nature of 
        our business is recycling, we work hard at complying with the guidelines of various 
        regulatory agencies.
      %p
        In addition, we have implemented several innovative internal programs to reduce the 
        wastewater contaminants and vehicle emissions.
      %p
        In 1993 Jackson Services installed one of the industries state of the art continuous 
        batch washing systems. This system reuses 30% of its water.
      %p{:id => 'business_of_year'} In 1997 Jackson Services was voted small business of the year.
      %h1 Community Stewardship
      %p
        Our company has always felt a strong bond to Columbus and the State of Nebraska 
        in general.  We feel it is very important to support our local community and to give 
        back whenever possible
      %p
        Every year we sponsor and/or donate to several charity events and fundraisers.  As 
        active members of several Chambers of Commerce, we understand and value the 
        importance of community involvement.  As a customer of Jackson, you can rest assured 
        your money is being reinvested into the local community around you.  By doing 
        business with us, you’re helping to support several charities and organizations like 
        local schools, local churches, the Salvation Army, TeamMates, Youth for Christ, the Girl 
        Scouts and Boy Scouts, the Food Pantry, Center for Survivors, American Red Cross, Big
        Pals Little Pals, United Way among others.
    .clear
        