%div{:id => 'vendors'}
  %div{:id => 'vendors_top'}
    %div{:id => 'vendors_top_left'}
      %h1 Vendors
      %p
        Check out our vendors; listed below are some the most 
        popular in the business, and with the help of the CSC Network,
        we work directly with them to keep you on the edge of the 
        best quality and performance as well as the latest fashions.
      %a{:href => 'http://www.redkap.com', :title => 'Red Kap'}
        %img{:id => 'red_kap', :src => '/images/vendors/red_kap.png', :alt => 'Red Kap'}
    %div{:id => 'vendors_top_right'}
      %a{:href => 'http://www.bulwark.com', :title => 'Bulwark'}
        %img{:id => 'bulwark', :src => '/images/vendors/bulwark.png', :alt => 'Bulwark'}
      %div{:id => 'vendors_top_right_container'}
        %img{:id => 'blue_man', :src => '/images/vendors/blue_man.png', :alt => 'Blue Man'}
        %img{:id => 'log_man', :src => '/images/vendors/log_man.png', :alt => 'Log Man'}
        %img{:id => 'pole_man', :src => '/images/vendors/pole_man.png', :alt => 'Pole Man'}
  .clear
  %div{:id => 'vendors_bottom'}
    %div{:id => 'vendors'}
      %a{:id => 'chef', :href => 'http://www.chefdesigns.com/product2/', :title => 'Chef Designs'} Chef Designs
      %a{:id => 'dickies', :href => 'http://www.dickies.com', :title => 'Dickies'} Dickies
      %a{:id => 'csc', :href => 'http://www.networkcsc.com/', :title => 'CSC Network'} CSC Network
      %a{:id => 'edwards', :href => 'http://www.edwardsgarment.com', :title => 'Edwards'} Edwards
      %a{:id => 'baltic', :href => 'http://www.balticlinen.com', :title => 'Baltic Linen Company'} Baltic Linen Company
      %a{:id => 'omni', :href => 'http://www.omniapparel.com', :title => 'Omni Apparel'} Omni Apparel
      %a{:id => 'superior', :href => 'http://www.superioruniformgroup.com/', :title => 'Superior Uniform Group'} Superior Uniform Group
      %a{:id => 'vf', :href => 'https://www.vfimagewear.com/vfweb/redkap/coms/index.jsp', :title => 'VF Imagewear'} VF Imagewear
      %a{:id => 'sanmar', :href => 'http://www.sanmar.com', :title => 'SanMar'} SanMar
      %a{:id => 'calderon', :href => 'http://www.calderontextiles.com', :title => 'Calderon Textiles'} Calderon Textiles
      %a{:id => 'mountville', :href => 'http://www.mountvillemills.com/', :title => 'Mountville Mills Inc.'} Mountville Mills Inc.
      %a{:id => 'penn', :href => 'http://pennemblem.com/', :title => 'Penn Emblem Company'} Penn Emblem Company
      %a{:id => 'golden', :href => 'http://www.goldenstar.com', :title => 'Golden Star'} Golden Star
      %a{:id => 'milliken', :href => 'http://www.milliken.com', :title => 'Milliken'} Milliken