%div{:id => 'about_us_excellence'}
  %div{:id => 'about_us_excellence_top'}
    %div{:id => 'about_us_excellence_top_left'}
      %h1 Excellence
      %p
        At Jackson, we understand that Uniform Service companies may all look alike, 
        but there are differences which are very important to the level of product and service that you receive. 
        We are dedicated to providing the best value possible for our customers -- because that's what they deserve.
        %img{:id => 'towels', :src => '/images/about_us/excellence/towels.png', :alt => 'Towels'}
    %div{:id => 'about_us_excellence_top_right'}
      %img{:id => 'sewing', :src => '/images/about_us/excellence/sewing.png', :alt => 'Sewing'}
    .clear
  %div{:id => 'about_us_excellence_bottom'}
    %h1 Jackson Is:
    %p
      %span{:class => 'blue'} People - 
      Our people work together as a comprehensive Service Team. 
      Each Team Member works for you, our customer, and the shared goal, 
      from our service representatives to our maintenance staff or office employees, 
      is a sincere desire to exceed your expectations.
    %p
      %span{:class => 'blue'} Independently owned and operated — 
      The decision makers are right here in Nebraska, 
      as they have been since 1924.
    %p 
      %span{:class => 'blue'} Small enough to know your requirements and large enough to meet your every need — 
      with 11 delivery vehicles on the road daily, and 80 trained     
      employees, we're ready and able to serve you!
    %p 
      %span{:class => 'blue'} Product Quality — 
      We start with the best (Wrangler/Red Kap) garments and we are constantly evaluating our processing, 
      to keep them the best.
    %p
      %span{:class => 'blue'} Service Providers — 
      Our long-tenured staff is ready to provide "special" services, like hotshot deliveries or merchandise loans, 
      as part of our standard 365 days per year commitment to fulfill your requirements.
    %p 
      %span{:class => 'blue'} Innovative — 
      With full service cleaning, adaptable billing, continuous product upgrade, 
      custom emblems, custom made logo mats, and a full line of textile rental products, 
      Jackson has the systems in place to serve your company.
    %p
      %span{:class => 'blue'} A good neighbor — 
      We value and appreciate our customer's business and are committed to contributing to their success.