div#jackson_services
  h1.blue
    color: $blue
    
  h1#products_services
    text-align: center
    color: $red
    margin: 20px 0px
    
  p
    margin-bottom: 10px
    font-size: 12px
    
  ul
    margin-bottom: 20px
    list-style-type: disc
    list-style-image: url('/images/indicator.png')
    list-style-position: outside
    margin-left: 20px
    
    li
      font-size: 12px
    
  div#jackson_services_benefits
    ul
      float: left
      width: 280px
    
    ul:first-child
      margin-right: 25px
    
    ul:last-child
      margin-left: 25px
      
  div#jackson_services_columns
    h1
      font-size: 20px
      color: $blue
      text-align: center
      
    div#jackson_services_columns_minnie_track_scanning,
    div#jackson_services_columns_garment_inspection,
    div#jackson_services_columns_garment_repair
      float: left
      width: 300px
      
    div#jackson_services_columns_minnie_track_scanning
      margin-right: 25px

    div#jackson_services_columns_garment_repair
      margin-left: 25px