%div{:id => 'about_us'}
  %div{:id => 'about_us_left'}
    %h1 About Us
    %p
      Jackson Services, Inc. began in 1924 as Jackson Pantorium. Services provided were washing, 
      ironing, clothes repair, rug shampooing, and interior car cleaning. 
    %p 
      Founded by the late Minnie Jackson, Jackson Services, Inc. is now headed by third generation Jay J. Jackson who 
      followed his father's (Lee) and brother's (Terry) footsteps. In 1964 Terry Jackson had a vision of becoming a 
      textile rental company by adding uniforms, linen and dust control to the services that we provided. 
    %p 
      In 1993, under the leadership of Jay Jackson, Jackson Services, Inc. was one of the first textile rental 
      companies to install a state of the art tunnel washer.  In, 2003, we implemented Minnie Track RFID, 
      becoming one of the very first companies in the country to implement this inventory tracking technology.  
    %p 
      Currently, Jackson Services, Inc. services roughly 3,000 customers in a 100-mile radius of Columbus. 
      The company now has 80 employees which includes the fourth generation of Jacksons: Jesse, Nikki, 
      Jason and Justin. Jackson Services, Inc. has become a major textile rental company serving Eastern Nebraska. 
    %p
      %a{:id => 'letter', :href => '/about_us/letter_from_ceo'} Please read a Letter from the CEO
      %img{:id => 'pen', :src => '/images/about_us/pen.png', :alt => 'Pen'}
  %div{:id => 'about_us_right'}
    %figure
      %img{:id => 'team', :src => '/images/about_us/team.png', :alt => 'Jackson Services', :width => 570, :height => 405}
    %figcaption
      Pictured above, are members of the Jackson Family who all play an intricate role in the success of 
      Jackson Services.  Members include: 3rd generation Jackson, Jay (CEO) and wife, Kathy (Head of
      Artwork and Embroidery), 4th generation Jacksons, Nikki (Vice President), Jesse (President), Justin
      (Production and Routh Delivery), and Jason (Vice President).
  .clear
  %div{:id => 'about_us_columns'}
    %div{:id => 'about_us_columns_quality'}
      %h1 Quality
      %a{:href => '/about_us/quality'}
        %img{:src => '/images/about_us/quality_thumb.png', :alt => 'Quality'}
      %p
        Jackson Services understands the importance of doing business with 
        companies which are advocates of Continuous Improvement. 
        Through our own voyage into the many facets of the quality process, we are prepared...
      %a{:href => '/about_us/quality'} READ&nbsp;MORE&nbsp;&nbsp;>
    %div{:id => 'about_us_columns_community'}
      %h1 Community
      %a{:href => '/about_us/community'}
        %img{:src => '/images/about_us/community_thumb.png', :alt => 'Community'}
      %p
        Our state of the art process and dedicated staff is what separates us to our customers.  
        Our dedication to safety, environmental responsibility and community 
        stewardship is what separates us to our community.
      %a{:href => '/about_us/community'} READ&nbsp;MORE&nbsp;&nbsp;>
    %div{:id => 'about_us_columns_excellence'}
      %h1 Excellence
      %a{:href => '/about_us/excellence'}
        %img{:src => '/images/about_us/excellence_thumb.png', :alt => 'Excellence'}
      %p
        At Jackson, we understand that Uniform Service companies may all look alike, 
        but there are differences which are very important 
        to the level of product and service that you receive. 
        We are dedicated to providing the best value...
      %a{:href => '/about_us/excellence'} READ&nbsp;MORE&nbsp;&nbsp;>
  .clear