%div{:id => 'jackson_services_minnie_track_scanning'}
  %div{:id => 'jackson_services_minnie_track_scanning_left'}
    %h1 Minnie Track Sort Scanning
    %p
      When you expect your employees to be in uniform every day, you expect your employees to be in uniform every day.
      You don't want an excuse from your employees, and certainly not from your uniform company!
    %p
      At Jackson, we understand the frustration, and here is how we prevent garment shortages on our end:
    %ul
      %li The human element is what makes our system successful. These are real people examining your garments.
      %li
        Jackson uses easy to read ID code tapes in the collars and waist-bands of our garments,
        so the garments for your company won't end up somewhere else.
        Couple that with Minnie Track RFID and our accuracy is off the charts
      %li
        Jackson provides replacement garments within one week of receiving the order for standard sized garments,
        so if your employee has lost a shirt, he or she will have a replacement on the next delivery day!
      %li
        Jackson provides a Hot-Shot Service at no extra charge. So, if there
        is a delay which prevents us from meeting our regular delivery schedule, 
        we will deliver the additional garment as soon as it becomes ready.
  %div{:id => 'jackson_services_minnie_track_scanning_right'}
    %img{:id => 'scanning', :src => '/images/jackson_services/minnie_track_scanning/scanning.png', :alt => 'Scanning'}
  .clear
  %div{:id => 'jackson_services_minnie_track_scanning_images'}
    %img{:id => 'left', :src => '/images/jackson_services/minnie_track_scanning/left.png', :alt => 'Left'}
    %img{:id => 'right', :src => '/images/jackson_services/minnie_track_scanning/right.png', :alt => 'Right'}
  .clear