%div{:id => 'products_linens_size_and_color'}
  %h1 Size and Color Options
  %img{:src => '/images/products/linens/size_and_color/chart.png', :atl => 'Size and Color Chart'}
  %p Certain items are in limited quantities.  Please call in advance for available stock.