%div{:id => 'products_uniforms_workwear_shirts'}
  %h1 Industrial Shirts
  %p
    Jackson Services offers you a wide variety of industrial shirts to best create a professional image for your company. Each style of shirt also comes in 
    a wide selection of colors or stripes. Here are a selection of styles:
  %div{:id => 'products_uniforms_workwear_shirts_row'}
    %h2 SP14LT
    %div{:id => 'products_uniforms_workwear_shirts_row_container'}
      %div{:id => 'products_uniforms_workwear_shirts_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/shirts/SP14LT_thumb.png', :alt => 'SP14LT'}
      %div{:id => 'products_uniforms_workwear_shirts_row_container_right'}
        %p 
          %span{:class => 'blue'} Perma-Press Industrial Solids Stripes: 
          Made with the same sturdy construction as our 
          poplin shirts
        %p 
          %span{:class => 'blue'} Men's Dress Uniform: 
          Fashion and comfort go together to make this shirt a great selection
        %p 
          %span{:class => 'blue'} 100% Cotton: 
          Comfortable cotton available in solid colors
  .clear
  %div{:id => 'products_uniforms_workwear_shirts_row'}
    %h2 SP24DN
    %div{:id => 'products_uniforms_workwear_shirts_row_container'}
      %div{:id => 'products_uniforms_workwear_shirts_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/shirts/SP24DN_thumb.png', :alt => 'SP24DN'}
      %div{:id => 'products_uniforms_workwear_shirts_row_container_right'}
  .clear
