%div{:id => 'home_welcome'}
  %div{:id => 'home_welcome_left'}
    %h1 Welcome
    %p
      Jackson Services Inc. is a provider of textiles to the hospitality, industrial, biomedical, and dust control markets. 
      Based in Eastern Nebraska, we are one of the largest independent textile service provider.
    %p
      Jackson Services offers a wide range of products, most of which are made in North America. 
      Our extensive selection has helped build our reputation of providing high-quality products to our customers. 
      We offer rental services and variations based on special customer requirements.
    %p
      Jackson Services understands that uniform service companies may all look alike, but there are differences 
      which are very important to the level of product and service that you receive.
  %div{:id => 'home_welcome_right'}
    %img{:id => 'truck', :src => '/images/home/welcome/truck.png'}
  .clear
  %img{:id => 'collage', :src => '/images/home/welcome/collage.png'}