%div{:id => 'home_welcome'}
  %div{:id => 'home_welcome_left'}
    %h1 Welcome
    %p
      Jackson Services Inc. is a provider of textiles to the hospitality, industrial, biomedical, and dust control markets. 
      Based in Eastern Nebraska, we are one of the largest independent textile service provider.
    %p
      Jackson Services offers a wide range of products, most of which are made in North America. 
      Our extensive selection has helped build our reputation of providing high-quality products to our customers. 
      We offer rental services and variations based on special customer requirements.
    %p
      Jackson Services understands that uniform service companies may all look alike, but there are differences 
      which are very important to the level of product and service that you receive.
  %div{:id => 'home_welcome_right'}
    %img{:id => 'truck', :src => '/images/home/welcome/truck.png', :alt => 'truck'}
  .clear
  %div{:id => 'home_welcome_collage'}
    %div{:id => 'home_welcome_collage_left'}
      %img{:id => 'toyota', :src => '/images/home/welcome/toyota.png', :alt => 'toyota'}
      %img{:id => 'washer', :src => '/images/home/welcome/washer.png', :alt => 'washer'}
    %div{:id => 'home_welcome_collage_middle'}
      %img{:id => 'warehouse', :src => '/images/home/welcome/warehouse.png', :alt => 'warehouse'}
      %img{:id => 'screen', :src => '/images/home/welcome/screen.png', :alt => 'screen'}
    %div{:id => 'home_welcome_collage_right'}
      %img{:id => 'delivery', :src => '/images/home/welcome/delivery.png', :alt => 'delivery'}
  .clear