%div{:id => 'products_uniforms_direct_purchase'}
  %h1 Direct Purchase
  %p We offer many brands, from Hanes, Lee, Dickies, Gildan, etc… and can custom embroider anything for you in-house.
  %div{:id => 'products_uniforms_direct_purchase_row'}
    %h2 Gloves
    %div{:id => 'products_uniforms_direct_purchase_row_container'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_left'}
        %img{:src => '/images/products/uniforms/direct_purchase/gloves_thumb.png', :alt => 'Table Linens'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_right'}
        %p 
          %span{:class => 'blue'} Gloves:  
          Anything from vinyl, to knit cotton, to latex
  .clear
  %div{:id => 'products_uniforms_direct_purchase_row'}
    %h2 Hoodies
    %div{:id => 'products_uniforms_direct_purchase_row_container'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_left'}
        %img{:src => '/images/products/uniforms/direct_purchase/hoodies_thumb.png', :alt => 'Healthcare and Hospitality'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_right'}
        %p 
          %span{:class => 'blue'} Hoodies:  
          Pullovers, zip ups, etc… you name we have it.
  .clear
  %div{:id => 'products_uniforms_direct_purchase_row'}
    %h2 Belts
    %div{:id => 'products_uniforms_direct_purchase_row_container'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_left'}
        %img{:src => '/images/products/uniforms/direct_purchase/belts_thumb.png', :alt => 'Pillow Cases'}
      %div{:id => 'products_uniforms_direct_purchase_row_container_right'}
        %p 
          %span{:class => 'blue'} Belts:  
          Dress belts, or even industrial scratchless belts for automotive or aeronautical detail work.
        %p
          %span{:class => 'blue'} Hats:  
          We offer an nearly endless amount of options, from colors, styles, sizes, etc…
        %p
          %span{:class => 'blue'} Beanies:  
          Again, you name we have it
        %p
          %span{:class => 'blue'} Etcetera:  
          We can offer virtually any type of garment and even some specialty items like golf bags 
          and accessories to luggage and specialty bags.
  .clear
