%div{:id => 'minnie_track'}
  %h1 Minnie Track
  %div{:id => 'minnie_track_container'}
    %div{:id => 'minnie_track_top'}
      %div{:id => 'minnie_track_top_left'}
        %p
          In early 2004, Jackson Services took the next step in laundry technology.   
          Matching up shirts and pants had never been so high-tech.  Thanks to our 
          Minnie Track RFID (Radio Frequency Identification) System, we are better 
          able to track our products.  Inserting a small RFID “chip” into each garment 
          and mat has allowed us to dramatically improve our service quality.   
          Assigning each product a unique 10-digit number allows us to build a 
          database of information that we can use in a variety of ways.
      %div{:id => 'minnie_track_top_right'}
        %img{:id => 'logo', :src => '/images/minnie_track/logo.png', :alt => 'Logo'}
      .clear
    %div{:id => 'minnie_track_bottom'}
      %p{:id => 'quality'}
        The RFID chip helps us to give our products better wash
        quality.  It allows us to assign soil classifications to our
        garments,assuring we wash your garments on the optimal
        wash formulation.  This results in a cleaner, longer lasting
        product.
      %p{:id => 'accountability'}
        RFID allows us to closely monitor our uniforms and
        assure customers that what comes into our facility will
        be delivered back out and not “lost” somewhere.
      %p{:id => 'repair'}
        RFID helps us to service repairs in a more timely manner and
        to monitor all garments that get processed through our facility.
      %p{:id => 'sorting'}
        After laundry sorting is completed through the automated system, the RFID
        literally tells our employees where garments need to be stored.  The
        system reads the number on each chip and sorts products according to
        where each should be placed for distribution back to the customer.