%div{:id => 'about_us_quality'}
  %div{:id => 'about_us_quality_left'}
    %h1 Quality
    %p
      Jackson Services understands the importance of doing business with 
      companies which are advocates of Continuous Improvement. 
      Through our own voyage into the many facets of the quality process, 
      we are prepared to be part of your Quality program. 
      Our Continuous Improvement Process shows us how to be your best 
      possible uniform provider.
    %ul
      %li 
        Jackson Services is a member of the SMG 
        International (a strategic management group to 
        continually audit and critique our entire operation.)
      %li
        We have several avenues for customer feedback to make certain 
        that we provide the service and product which meets your needs.
      %li
        A customer Service/Quality Audit is taken taken by customers 
        Route Manager every 6 months.
  %div{:id => 'about_us_quality_right'}
    %p
      Our 
      %span{:class => 'blue'}Mission Statement 
      is a true reflection of Jackson's commitment to our customers:
    %p
      “Jackson Services will safely 
      provide quality products and 
      services to each of our customers
      by understanding and 
      exceeding their expectations.”
  .clear
  %img{:id => 'worker', :src => '/images/about_us/quality/worker.png', :alt => 'Worker'}