%div{:id => 'home'}
  %img{:id => 'jackson_services', :src => '/images/home/jackson_services.jpg', :alt => 'Jackson Services'}
  %div{:id => 'home_banner'}
    %p
      Would you like to make a payment?
      %a{:href => '/contact_us#make_a_payment'} Click Here
  %div{:id => 'home_columns'}
    %div{:id => 'home_columns_welcome'}
      %h1 Welcome
      %a{:href => '/home/welcome'}
        %img{:src => '/images/home/welcome_thumb.png', :alt => 'Welcome'}
      %p
        Jackson Services Inc. is a provider of textiles to the hospitality, industrial biomedical and dust control markets.
        Based in Eastern Nebraska, we are one of the largest independent textile service providers.
      %a{:href => '/home/welcome'} READ&nbsp;MORE&nbsp;&nbsp;>
    %div{:id => 'home_columns_history'}
      %h1 Our History
      %a{:href => '/home/history'}
        %img{:src => '/images/home/history_thumb.png', :alt => 'Our History'}
      %p
        Jackson Pantorium was founded by Minnie Jackson out of her home, where she performed a myriad of services,
        such as rug cleaning and shampooing, and interior car cleaning.
      %a{:href => '/home/history'} READ&nbsp;MORE&nbsp;&nbsp;>
    %div{:id => 'home_columns_why_jackson'}
      %h1 Why Jackson?
      %a{:href => '/home/why_jackson'}
        %img{:src => '/images/home/why_jackson_thumb.png', :alt => 'Why Jackson?'}
      %p
        Jackson Services serves a 100-mile radius of Columbus, Nebraska.
        The following are some of the major cities in our service area:
        Columbus, Fremont, York, West Point, Grand Island, Lincoln, Omaha, and Norfolk.
      %a{:href => '/home/why_jackson'} READ&nbsp;MORE&nbsp;&nbsp;>
  .clear
