%div{:id => 'products_uniforms_workwear_pants'}
  %h1 Industrial Pants / Shorts
  %p
    Our collection of industrial pants are the perfect compliment to our line of industrial shirts.  These garments offer your employees a comfortable fit, 
    protection from their work environment and a great look.  Listed below are several styles available
  %div{:id => 'products_uniforms_workwear_pants_row'}
    %h2 Industrial Cargo
    %div{:id => 'products_uniforms_workwear_pants_row_container'}
      %div{:id => 'products_uniforms_workwear_pants_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/pants/industrial_cargo_thumb.png', :alt => 'Industrial Cargo'}
      %div{:id => 'products_uniforms_workwear_pants_row_container_right'}
        %p 
          %span{:class => 'blue'} Industrial Cargo: 
          8 oz. 65% polyester / 35% cotton.  Updated utility-style cargo pants offer an
          easy fit.
        %p
          %span{:class => 'blue'} Industrial Cut: 
          The number one industrial work pant made of 8 oz., 65% polyester/35% combed cotton
        %p
          %span{:class => 'blue'} Western Cut: 
          Contemporary styling makes these jean-cut pants perfect for handling tough jobs
        %p
          %span{:class => 'blue'} Men's Pleated Industrial: 
          For a more upscale image while meeting industrial standards
        %p
          %span{:class => 'blue'} Men's 100% Cotton Pants: 
          Comfortable fit in cool 100% cotton for year-round work
        %p
          %span{:class => 'blue'} Men's Denim Jeans: 
          Made of comfortable 100% sanforized cotton in a durable 13 3/4 oz. heavyweight denim
  .clear
  %div{:id => 'products_uniforms_workwear_pants_row'}
    %h2 Carpenter Jeans
    %div{:id => 'products_uniforms_workwear_pants_row_container'}
      %div{:id => 'products_uniforms_workwear_pants_row_container_left'}
        %img{:src => '/images/products/uniforms/workwear/pants/carpenter_jeans_thumb.png', :alt => 'Carpenter Jeans'}
      %div{:id => 'products_uniforms_workwear_pants_row_container_right'}
        %p 
          %span{:class => 'blue'} Carpenter Jeans: 
          Dickies 14 oz. denim 100% Cotton, with hammer loop and dual tool pockets.
        %p
          %span{:class => 'blue'} Men's Professional: 
          Dress slacks for versatile options
        %p
          %span{:class => 'blue'} Shorts: 
          The perfect warm-weather alternative 
          
  .clear
