%div{:id => 'products_linens'}
  %h1 Linens
  %p
    Our linen is only the finest 100% Spun Poly, Signature Plus fabric from Milliken.  
    Softouch technology for a soft natural feel.  
    Spun-Filament construction for durability and long life.  
    Special technology for improved soil and odor release.
  %a{:href => '/products/linens/size_and_color', :title => 'Size and Color Chart'} Click here to see our Size and Color options
  %div{:id => 'products_linens_row'}
    %h2 Table Linens
    %div{:id => 'products_linens_row_container'}
      %div{:id => 'products_linens_row_container_left'}
        %img{:src => '/images/products/linens/table_linens_thumb.png', :alt => 'Table Linens'}
      %div{:id => 'products_linens_row_container_right'}
        %p 
          Our 
          %span{:class => 'blue'} Table Cloths 
          are available in a variety of colors and sizes to fit your specific needs.
        %p 
          %span{:class => 'blue'} Napkins 
          are sized 20x20 in.  They are also available in a variety of colors to fit your specific needs.
  .clear
  %div{:id => 'products_linens_row'}
    %h2 Healthcare and Hospitality
    %div{:id => 'products_linens_row_container'}
      %div{:id => 'products_linens_row_container_left'}
        %img{:src => '/images/products/linens/healthcare_hospitality_thumb.png', :alt => 'Healthcare and Hospitality'}
      %div{:id => 'products_linens_row_container_right'}
        %p 
          We offer 
          %span{:class => 'blue'} Thermal Blankets 
          to help warm patients after surgery or other procedures.
  .clear
  %div{:id => 'products_linens_row'}
    %h2 Pillow Cases
    %div{:id => 'products_linens_row_container'}
      %div{:id => 'products_linens_row_container_left'}
        %img{:src => '/images/products/linens/pillow_cases_thumb.png', :alt => 'Pillow Cases'}
      %div{:id => 'products_linens_row_container_right'}
        %p 
          Our 
          %span{:class => 'blue'} Pillow Cases 
          are sized 42X34 in. and white in color.
        %p Bed Linens consist of sheets, both fitted and draw.
  .clear
        