%div{:id => 'products_restroom_supplies_paper'}
  %h1 Paper
  %div{:id => 'products_restroom_supplies_paper_row'}
    %h2 Center Pull
    %div{:id => 'products_restroom_supplies_paper_row_container'}
      %div{:id => 'products_restroom_supplies_paper_row_container_left'}
        %img{:src => '/images/products/restroom_supplies/paper/center_pull_thumb.png', :alt => 'Center Pull'}
      %div{:id => 'products_restroom_supplies_paper_row_container_right'}
        %p
          Center Pull 2-ply towels offer one-at-a-time service, and reduces waste.  High capacity, reduces 
          labor and refills.  Few, or no moving parts, nothing to jam or break.  “High absorbency” means less 
          towels used.  Touch only dispensing towel reduces cross contamination.  Made from 100% recycled 
          fiber provides environmental benefits, and a positive image builder.  White Large Roll, 8"x12" sheet.  
          Each roll is 660 linear feet.  6 rolls in a case.
        %p
          Center Pull 1-ply towels are white, large roll, 8.25" x 12" sheet.  Each roll is 1000 linear feet.  6 
          rolls in a case.
        %p
          Center Pull Mini towels are smaller, white roll for confined spaces.  8.3" x 11.8" sheet.  262 linear 
          feet.  12 rolls per case.
  .clear
  %div{:id => 'products_restroom_supplies_paper_row'}
    %h2 Intuition Hands Free Motion Sensor
    %div{:id => 'products_restroom_supplies_paper_row_container'}
      %div{:id => 'products_restroom_supplies_paper_row_container_left'}
        %img{:src => '/images/products/restroom_supplies/paper/hands_free_thumb.png', :alt => 'Intuition Hands Free Motion Sensor'}
      %div{:id => 'products_restroom_supplies_paper_row_container_right'}
        %p 
          The touch-free electronic 
          %span{:class => 'blue'} Tork Intuition® 
          virtually eliminates cross contamination while cutting 
          back on supply waste.  Each unit features a choice of two dispensing modes.  The sensor mode, in 
          which the towel remains inside the cabinet until the user activates the sensor, delivers maximum 
          hygiene.  The hanging mode, in which a single towel is exposed for immediate access, is ideal for 
          high-traffic venues.  An adjustable towel length of 8 inches to 24 inches, an adjustable time delay of 
          less than one second to over four seconds, and a stub roll compartment combine to deliver more 
          precise control of consumption are a few of the features available.  See-through window shows 
          when it's time to re-fill, saving maintenance time.  Batteries lasts up to 40 rolls on average with 
          normal usage.  It's easy to reach and simple to reload.
        %p
          The Tork Advanced Hand Towels are designed specifically for the Tork Matic® and Tork Intuition® 
          roll towel dispensers, this Tork Advanced towel offers a truly best-in-class product for no touch, 
          hygienic dispensing systems.  Soft, strong, and highly absorbent this towel offers the perfect 
          combination of quality, performance, and value.  Embossing enhances hand feel and maximum 
          absorbency; fewer towels are used per hand dry.  Towels are made from 100% recycled fiber, 
          provides environmental benefits, and is a positive image builder.  700 linear feet with 6 rolls per case.
        %p
          Tork Matic dispensers simplify and complement any environment, providing a clean, hygienic 
          appearance.  The design ensures easy and intuitive maintenance, refilling and use.  The Tork Matic® 
          Dispenser has a high capacity that is ideal for busy washrooms.  Hands free dispensing provides a 
          hygienic, one-at-a-time solution for your washroom. The user touches only the towel needed, 
          reducing the risk of cross-contamination. Reliable and durable, Tork Matic® delivers one towel, time 
          after time, always ready to service the next patron.  Semi-transparent cover makes it easy to see 
          when a refill is needed.  Push bar for loading and emergency feeds.
  .clear
  %div{:id => 'products_restroom_supplies_paper_row'}
    %h2 Toilet Tissue
    %div{:id => 'products_restroom_supplies_paper_row_container'}
      %div{:id => 'products_restroom_supplies_paper_row_container_left'}
        %img{:src => '/images/products/restroom_supplies/paper/toilet_tissue_thumb.png', :alt => 'Toilet Tissue'}
      %div{:id => 'products_restroom_supplies_paper_row_container_right'}
        %p 
          %span{:class => 'blue'} Jumbo toilet tissue 
          has high capacity which provides fewer refills and reduces labor.  Large size is 
          pilfer proof, hard to conceal.  Can't use at home.  Reduced stub roll means less waste.  Fewer cores 
          and no wrappers leads to source reduction.  Less storage space is needed.  Made from 100% 
          recycled fiber.  Jumbo tissue roll dispensers come in both Single and Twin styles.
  .clear
