%div{:id => 'products_uniforms_automotive'}
  %h1 Automotive
  %div{:id => 'products_uniforms_automotive_row'}
    %h2 Program Shirts
    %div{:id => 'products_uniforms_automotive_row_container'}
      %div{:id => 'products_uniforms_automotive_row_container_left'}
        %img{:src => '/images/products/uniforms/automotive/program_shirts_thumb.png', :alt => 'Program Shirts'}
      %div{:id => 'products_uniforms_automotive_row_container_right'}
        %p
          %span{:class => 'blue'} Program Shirts 
          are custom designed, branded automotive uniform programs for nearly any
          auto-maker.  From domestics, like Ford and General Motors, to Foreign, like Toyota.
  .clear
  %div{:id => 'products_uniforms_automotive_row'}
    %h2 Generic Automotive
    %div{:id => 'products_uniforms_automotive_row_container'}
      %div{:id => 'products_uniforms_automotive_row_container_left'}
        %img{:src => '/images/products/uniforms/automotive/generic_thumb.png', :alt => 'Generic Automotive'}
      %div{:id => 'products_uniforms_automotive_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Generic Automotive 
          uniform apparel is designed with the automotive industry in mind.    
          Superior color retention and soil release, moisture management, doulbe yoke for added durability.  
          These shirts help you look like the pro you are.
  .clear
