%div{:id => 'products_uniforms_executive'}
  %h1 Executive / Dress
  %p
    Uniforms no longer are solely for industrial occupations. Today, a wide range of executive wear garments are available to create the perfect image 
    for all of your employees. These items are designed to be both comfortable and stylish. Executive wear garments can be had in a wide variety of 
    colors and styles.
  %div{:id => 'products_uniforms_executive_row'}
    %h2 Knits
    %div{:id => 'products_uniforms_executive_row_container'}
      %div{:id => 'products_uniforms_executive_row_container_left'}
        %img{:src => '/images/products/uniforms/executive/knits_thumb.png', :alt => 'Knits'}
      %div{:id => 'products_uniforms_executive_row_container_right'}
        %p 
          %span{:class => 'blue'} Performance Knit Shirt (with contrast collar, welts and inside placket):
          Weight: 5.25 oz.
          Blend: 50/50
        %p
          %span{:class => 'blue'} Mesh Knit:
          Weight: 5.4 oz.
          Blend: 50/50
          Sizes: SS-3XL
          Colors: Burgundy and Navy
        %p
          %span{:class => 'blue'} 100% Polyester Knit: 
          for superior color rentention, soil release, and shrinkage control.
  .clear
  %div{:id => 'products_uniforms_executive_row'}
    %h2 Executive Pants
    %div{:id => 'products_uniforms_executive_row_container'}
      %div{:id => 'products_uniforms_executive_row_container_left'}
        %img{:src => '/images/products/uniforms/executive/pants_thumb.png', :alt => 'Executive Pants'}
      %div{:id => 'products_uniforms_executive_row_container_right'}
        %p 
          %span{:class => 'blue'} Brushed Twill: 
          Comfortable twill for versatile wear, 65 % polyester, 35 % cotton, pleated
        %p
          %span{:class => 'blue'} Dress Slacks: 
          100% texturized polyester
  .clear
  %div{:id => 'products_uniforms_executive_row'}
    %h2 Executive Shirts
    %div{:id => 'products_uniforms_executive_row_container'}
      %div{:id => 'products_uniforms_executive_row_container_left'}
        %img{:src => '/images/products/uniforms/executive/shirts_thumb.png', :alt => 'Executive Shirts'}
      %div{:id => 'products_uniforms_executive_row_container_right'}
        %p 
          %span{:class => 'blue'} Dress Uniform: 
          65/35 blend with banded collar; available in only solid colors
        %p
          %span{:class => 'blue'} Oxford: 
          60/40 blend for an upscale, polished look  Oxfords are button down collar with pearlized 
          buttons, left chest pocket, back box pleat, and easy care soil and wrinkle resistant finish
        %p
          %span{:class => 'blue'} Broadcloth Shirt: 
          point collar with pearlized buttons, easy care with wrinkle release finish.
  .clear
