%div{:id => 'products_uniforms'}
  %h1 Uniforms
  %p
    Industrial uniforms provide a professional image for your company while also serving to protect your employees. Because we serve customers from 
    several industry sectors, we have an extensive network of vendors who can supply us with almost any item currently available. We match specific 
    products to specific customer needs through analysis and evaluation.
  %div{:id => 'products_uniforms_bottom'}
    %div{:id => 'products_uniforms_bottom_left'}
      %h2 Industrial Workwear
      %a{:href => '/products/uniforms/workwear', :title => 'Industrial Workwear'}
        %img{:src => '/images/products/uniforms/workwear_thumb.png', :alt => 'Industrial Workwear'}
      %h2 Automotive
      %a{:href => '/products/uniforms/automotive', :title => 'Automotive'}
        %img{:src => '/images/products/uniforms/automotive_thumb.png', :alt => 'Automotive'}
      %h2 Healthcare
      %a{:href => '/products/uniforms/healthcare', :title => 'Healthcare'}
        %img{:src => '/images/products/uniforms/healthcare_thumb.png', :alt => 'Healthcare'}
      %h2 Kitchen Garments
      %a{:href => '/products/uniforms/kitchen', :title => 'Kitchen Garments'}
        %img{:src => '/images/products/uniforms/kitchen_thumb.png', :alt => 'Kitchen Garments'}
    %div{:id => 'products_uniforms_bottom_right'}
      %h2 Food Processing
      %a{:href => '/products/uniforms/food', :title => 'Food Processing'}
        %img{:src => '/images/products/uniforms/food_thumb.png', :alt => 'Food Processing'}
      %h2 Executive / Dress
      %a{:href => '/products/uniforms/executive', :title => 'Executive / Dress'}
        %img{:src => '/images/products/uniforms/executive_thumb.png', :alt => 'Executive / Dress'}
      %h2 Safety
      %a{:href => '/products/uniforms/safety', :title => 'Safety'}
        %img{:src => '/images/products/uniforms/safety_thumb.png', :alt => 'Safety'}
      %h2 Direct Purchase
      %a{:href => '/products/uniforms/direct_purchase', :title => 'Direct Purchase'}
        %img{:src => '/images/products/uniforms/direct_purchase_thumb.png', :alt => 'Direct Purchase'}
  .clear