%div{:id => 'products_uniforms_safety'}
  %h1 Safety
  %div{:id => 'products_uniforms_safety_row'}
    %h2 Flame Resistent
    %div{:id => 'products_uniforms_safety_row_container'}
      %div{:id => 'products_uniforms_safety_row_container_left'}
        %img{:src => '/images/products/uniforms/safety/flame_resistent_thumb.png', :alt => 'Flame Resistent'}
      %div{:id => 'products_uniforms_safety_row_container_right'}
        %p 
          Bulwark Coveralls, Work Coats, Jackets, Shirts, Pants, Jeans, T-Shirts, all available in a variety of 
          colors and levels of protection.  Our Excel FR- Comfort Touch Garments, provide elite level protection 
          without compromising comfort.  These garments are built to last and are inherently 
          %span{:class => 'blue'} Flame Resistant
          , with protective properties designed to last the life of the garment with no 
          degrade in protection.  Fully compliant with NFPA 70E regulations.
  .clear
  %div{:id => 'products_uniforms_safety_row'}
    %h2 Hi-Visibility
    %div{:id => 'products_uniforms_safety_row_container'}
      %div{:id => 'products_uniforms_safety_row_container_left'}
        %img{:src => '/images/products/uniforms/safety/hi_visibility_thumb.png', :alt => 'Hi-Visibility'}
      %div{:id => 'products_uniforms_safety_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Hi-Visibility 
          are ANSI Compliant shirts industrialized to withstand a rental program. Jackets, 
          Shirts, and Vests all available in hi-vis flourescent yellow and reflective striping.
  .clear
  %div{:id => 'products_uniforms_safety_row'}
    %h2 Enhanced Visibility
    %div{:id => 'products_uniforms_safety_row_container'}
      %div{:id => 'products_uniforms_safety_row_container_left'}
        %img{:src => '/images/products/uniforms/safety/enhanced_visibility_thumb.png', :alt => 'Enhanced Visibility'}
      %div{:id => 'products_uniforms_safety_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Enhanced Visibility 
          are not ANSI Compliant but still afford additional protection.  Fully 
          compatible with a industrial wash process, all available in Jackets and Shirts.
  .clear
