%div{:id => 'products_mats_mops_towels_towels'}
  %h1 Towels
  %div{:id => 'products_mats_mops_towels_towels_row'}
    %h2 Industrial
    %div{:id => 'products_mats_mops_towels_towels_row_container'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/towels/industrial_thumb.png', :alt => 'Industrial'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_right'}
        %p 
          Shop Towels are orange- Both 18x18 and 18x30.  For traditional industrial and automotive work.  
          White - 100% cotton for detail and body shop work
        %p
          Unique Microfiber blend picks up even the smallest dirt particles, leaving no lint behind.  Excellent 
          liquid absorption.  Comes in green.
        %p
          Fender Covers are 36x60 100% cotton towel ideal for protecting a vehicle while it is being worked on.
        %p
          Polish Towels are blue, 100% cotton terry towels, great for cleaning up dirty industrial environments.
        %p
          Ink Towels are blue - Both 18x18 and 18x30.  Ideal for ink clean up and wiping off print machinery.
        %p
          Our Continuous Roll Towels are a cabinet hand towel.  No more waste.  Comes in both blue and 
          white options.
  .clear
  %div{:id => 'products_mats_mops_towels_towels_row'}
    %h2 Kitchen
    %div{:id => 'products_mats_mops_towels_towels_row_container'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/towels/kitchen_thumb.png', :alt => 'Kitchen'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_right'}
        %p 
          Bar Mop (Terry Towels) are 100% Cotton Terry Towel.  16x19 32 oz. White with blue stripe.
        %p
          Bar Towels are 15x29 27 oz, HBT towel with green center stripe.  Less lint.
        %p
          Grill Pads are yellow, terry cotton specifically designed with added thickness to clean stubborn grill tops
        %p
          Unique Microfiber blend picks up even the smallest dirt particles, leaving no lint behind.  Excellent 
          liquid absorption.  Comes in blue
  .clear
  %div{:id => 'products_mats_mops_towels_towels_row'}
    %h2 Healthcare / Hospitality
    %div{:id => 'products_mats_mops_towels_towels_row_container'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/towels/healthcare_hospitality_thumb.png', :alt => 'Healthcare / Hospitality'}
      %div{:id => 'products_mats_mops_towels_towels_row_container_right'}
        %p
          Bath Towels are 22 x 44 100% cotton, terry towel.  Comes in both blue and white.
        %p
          Lab Towels are 16x32 Huck Towel 27 oz.
        %p
          Hand Towels are 16 x 27 white 100% terry cotton.
        %p
          Wash Cloths are 12x12 overlock.  100% cotton.
  .clear
