%div{:id => 'products_uniforms_healthcare'}
  %h1 Healthcare
  %div{:id => 'products_uniforms_healthcare_row'}
    %h2 Scrubs
    %div{:id => 'products_uniforms_healthcare_row_container'}
      %div{:id => 'products_uniforms_healthcare_row_container_left'}
        %img{:src => '/images/products/uniforms/healthcare/scrubs_thumb.png', :alt => 'Scrubs'}
      %div{:id => 'products_uniforms_healthcare_row_container_right'}
        %p 
          %span{:class => 'blue'} Unisex Scrub 
          shirts and pants come in a variety of colors.   Reversible  v-neck top and drawcord 
          pant in a poly/cotton blend.
  .clear
  %div{:id => 'products_uniforms_healthcare_row'}
    %h2 Lab Coats
    %div{:id => 'products_uniforms_healthcare_row_container'}
      %div{:id => 'products_uniforms_healthcare_row_container_left'}
        %img{:src => '/images/products/uniforms/healthcare/lab_coats_thumb.png', :alt => 'Lab Coats'}
      %div{:id => 'products_uniforms_healthcare_row_container_right'}
        %p 
          Versatile 
          %span{:class => 'blue'} Lab Coat 
          comes in a variety of colors and pocket arrangements
        %p
          Unisex Warm-ups come in multiple colors and patterns.  Poly/Cotton blend with snap front 
          closure and two lower pockets with color matched cuffs.
        %p
          Gowns for any size adult and child.  Come in patterned and solid design broadcloath material.
  .clear
