%div{:id => 'products_mats_mops_towels_mops'}
  %h1 Mops
  %div{:id => 'products_mats_mops_towels_mops_row'}
    %h2 Wet Mops
    %div{:id => 'products_mats_mops_towels_mops_row_container'}
      %div{:id => 'products_mats_mops_towels_mops_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/mops/wet_mops_thumb.png', :alt => 'Wet Mops'}
      %div{:id => 'products_mats_mops_towels_mops_row_container_right'}
        %p 
          Our 
          %span{:class => 'blue'} Wet Mops 
          are made of 100% synthetic yarn, polyester headband, and are bleach resistant to 
          prevent deterioration and lengthen life.  Releases moisture and dries faster then traditional wet mops.  
          Superior absorption reduces labor time to complete job.  Available in green and large size.
  .clear
  %div{:id => 'products_mats_mops_towels_mops_row'}
    %h2 Dust Mops
    %div{:id => 'products_mats_mops_towels_mops_row_container'}
      %div{:id => 'products_mats_mops_towels_mops_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/mops/dust_mops_thumb.png', :alt => 'Dust Mops'}
      %div{:id => 'products_mats_mops_towels_mops_row_container_right'}
        %p 
          With our 
          %span{:class => 'blue'} Dust Mops
          , dust is collected and retained by static cling and the unique twisted yarn.  
          Looped end construction prevents fraying and gives better pickup of soil.  The mops are made with 
          tough polyester backing that lasts longer and doesn't shrink.  Available in several sizes, both racked 
          and unracked, treated and untreated.
        %p
          The Microfiber Mop uses heavy-duty strands in fantail style to provide a wide surface span and even 
          coverage. unique microfiber blend picks up even the smallest dirt particles for deep cleaning.  True to 
          its name, the Relintless mop won’t shred or lint on abrasive surfaces
          
  .clear
