%div{:id => 'products_uniforms_food'}
  %h1 Food Processing
  %div{:id => 'products_uniforms_food_row'}
    %h2 Lab Coats
    %div{:id => 'products_uniforms_food_row_container'}
      %div{:id => 'products_uniforms_food_row_container_left'}
        %img{:src => '/images/products/uniforms/food/lab_coats_thumb.png', :alt => 'Table Linens'}
      %div{:id => 'products_uniforms_food_row_container_right'}
        %p 
          Our versatile 
          %span{:class => 'blue'} Lab Coat 
          is ideal for clean room or food processing environments.  Comes in a variety 
          of colors and pocket arrangements
        %p
          Our most popular collection of Meat Frocks and packing house coats offer a full range of economy, 
          standard, and heavy-duty fabrics.  The Omni 3/4-length, JS-1 is constructed of 7 1/2 oz. 65/35 
          poly/cotton; includes inner access side vents and reinforced pocket stress points.  The Omni JS-1 
          also includes double needle stitching, nickel plated snaps, and full knee length for added protection.
        %p
          Our specialized Cuffed Lab Coat with elastic cuffs to protect arms and increase sanitation.  The 
          ruggidized domed snaps help to limit risk of contamination.
        %p
          Our Meat Jackets have a lab coat construction, shortened for counter work.
  .clear
  %div{:id => 'products_uniforms_food_row'}
    %h2 Pocketless Snap Shirts
    %div{:id => 'products_uniforms_food_row_container'}
      %div{:id => 'products_uniforms_food_row_container_left'}
        %img{:src => '/images/products/uniforms/food/pocketless_thumb.png', :alt => 'Healthcare and Hospitality'}
      %div{:id => 'products_uniforms_food_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Pocketless Snap Shirts 
          are industrial work shirts and knits, specialized for food industry.  No 
          pockets and 7 gripper front.  Comes in a variety of colors and material blends.
        %p
          Bleached string Knit Gloves are made from a cotton-poly blend to provide the durability you need 
          while also providing the breathability to keep your hands comfortable.  Plus, bleached string knit 
          gloves have no seams to rip or tear.  These knit gloves offer superior wear, and are ambidextrous for 
          greater longevity.
  .clear
