%div{:id => 'products_mats_mops_towels_mats'}
  %h1 Mats
  %div{:id => 'products_mats_mops_towels_mats_row'}
    %h2 Classic Mat
    %div{:id => 'products_mats_mops_towels_mats_row_container'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/mats/classic_mat_thumb.png', :alt => 'Classic Mat'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Classic Mat 
          is available in many sizes and colors as it is our most popular mat.  Ultra-twist, and 
          heat set nylon yarn construction resist packing and crushing, so dirt filters into the mat, rather than 
          remaining on top.  100% Nitrile rubber backing for increased durability and slip/skid resistance.
        %p
          The Scraper Mat is made of 100% nitrile rubber 1/4" thick provides for superior durability and 
          traction.  Molded tread surface cleats effectively scrape tough dirt and grime off of feet
  .clear
  %div{:id => 'products_mats_mops_towels_mats_row'}
    %h2 Comfort Flow
    %div{:id => 'products_mats_mops_towels_mats_row_container'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/mats/comfort_flow_thumb.png', :alt => 'Comfort Flow'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_right'}
        %p 
          The 
          %span{:class => 'blue'} Comfort Flow 
          is a fully launderable anti-fatigue mat.  100% nitrile rubber for superior grease and 
          oil resistance.  Treated with an antimicrobial agent to guard against odors.
        %p
          The AntiFatigue Mat is made up of closed-cell nitrile/PVC cushion backing provides outstanding 
          comfort.  Resitant to oils and chemicals.  Textured surface for superior slip/skid resistance. 5/8" thick.
        %p
          Our Ultimat unites high twist solution dyed nylon carpet yarns and high twist abrasive solution dyed 
          nylon fibers, resulting in a mat that is much more abrasive than traditional mats.  In addition, the 
          nitrile rubber backing is 25% heavier to reduce the movement associated with lighter weight mats. 
          This combination produces the most effective mat in removing soil, along with a mat that reduces 
          movement caused by foot traffic and carts.
          
  .clear
  %div{:id => 'products_mats_mops_towels_mats_row'}
    %h2 Logo Mats
    %div{:id => 'products_mats_mops_towels_mats_row_container'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_left'}
        %img{:src => '/images/products/mats_mops_towels/mats/logo_mat_thumb.png', :alt => 'Logo Mats'}
      %div{:id => 'products_mats_mops_towels_mats_row_container_right'}
        %p
          The “Laundry Friendly” anti-fatigue mat features a Closed-Cell Nitrile 
          Rubber construction that is completely launderable. The anti-microbial 
          treated, slip-resistant surface is grease, oil and chemical resistant. 
          Complete Comfort mats are available in 2x3 and 3x5 sizes. This 
          ergonomically superior anti-fatigue mat is available in 5/8” thickness.
        %p
          Provide us with your logo (preferably electronically) and we will 
          custom design a 
          %span{:class => 'blue'} Logomat 
          for your needs.  Using state of the art 
          technology, our logomats are the premium option for mat function 
          and image/brand enhancement.
  .clear
