%div{:id => 'home_why_jackson'}
  %div{:id => 'home_why_jackson_top'}
    %div{:id => 'home_why_jackson_left'}
      %h1 Why Jackson?
      %p
        At Jackson, we understand that uniform service companies
        may all look alike, but there are differences which are very
        important to the level of product and service that you
        receive.
      %p
        If you are tired of 
        %span{:class => 'spending'}
          spending an unreasonable amount of
          time keeping your uniform service provider in line, 
        whether it be 
        %span{:class => 'looking'} looking over invoices 
        or 
        %span{:class => 'tracking'} tracking down “lost” garments, 
        Jackson Services can sympathize.
      %p
        At Jackson Services, Inc.,
      %p
        %span{:class => 'we_are'}
          WE ARE IN THE UNIFORM BUSINESS 
          SO YOU DON’T HAVE TO BE  
      %p
        We feel there are 
        %span{:class => 'three'} THREE MAJOR KEYS 
        to a great service program.
        %span{:class => 'value'} Value, Service, and Product.
    %div{:id => 'home_why_jackson_right'}
      %figure
        %img{:id => 'sign', :src => '/images/home/why_jackson/sign.png', :width => 570, :height => 350}
      %figcaption
        We at Jackson Services are very committed to being the premier uniform and industrial textile supplier in our
        market.  We continually strive to renew and refine our policies and procedures to better serve our customers.
  .clear
  %div{:id => 'home_why_jackson_bottom'}
    %h2 VALUE
    %p It isn’t so much about what you are spending but rather what you are getting for it.
    %ul
      %li 
        Jackson Services is a member of a nation-wide buying group of nearly 200 independent, 
        family-owned operations around the country, which allows us 
        to be 
        %span{:class => 'blue'} extremely competitive in our pricing. 
      %li 
        Our painstaking attention to vendors assures us 
        %span{:class => 'blue'} our costs are low and quality high. 
      %li 
        Jackson’s has also taken several measures to reduce our internal costs, including 
        %span{:class => 'blue'} automating parts of our production 
        process and continually striving to 
        %span{:class => 'blue'} reduce our energy, chemical, and water usage
        , allowing us to keep 
        %span{:class => 'blue'} our prices relatively unchanged over the last 25 years.  
        %br
        %span{:class => 'green'} WE ARE PROUD TO BE A GREEN COMPANY!
    %h2 SERVICE
    %p 
      We understand that no one is perfect, but it is about the measures you take to limit mistakes 
      and how a company responds to the mistakes they have made.
    %ul
      %li
        Jackson Services is very proud of our 
        %span{:class => 'blue'} state of the art washroom and garment tracking system.  
        Each garment has a 
        %span{:class => 'blue'} radio frequency identification (RFID)
        chip sewn into the fabric, allowing us to closely monitor our uniforms and assure customers 
        that what comes into our facility will be delivered back out 
        and not “lost” somewhere.   This is the magic of Minnie Track RFID.
      %li 
        Our 
        %span{:class => 'blue'} 24-hr On-Call Emergency 
        line gives us accountability 24 hours a day, 7 days a week, 
        providing you, the customer, with an avenue to 
        %span{:class => 'blue'} contact a Jackson Services representative when you do business, and not just when we do.  
        You can call US at 3 A.M.!
      %li 
        We also have representatives that make 
        %span{:class => 'blue'} proactive customer visitations, 
        soliciting issues with your program so 
        %span{:class => 'blue'} we can solve them before they become real problems. 
      %li 
        We feel 
        %span{:class => 'blue'} our service is unmatched in the market, 
        and all of our customers are covered under 
        %span{:class => 'blue'} our guarantee, which is the strongest we’ve seen in the industry.
      %li 
        Last, but certainly not least, our 
        %span{:class => 'blue'} route service representatives are the best in the business.   
        We spend a great deal of time in training and support to make sure our service personnel are experts 
        in what they do and 
        %span{:class => 'blue'} have the confidence, desire, and time to properly service our customer’s needs.  
        With very 
        %span{:class => 'blue'} little turnover 
        in this department, we are very confident 
        %span{:class => 'blue'} they represent us well, as they truly are the face of our company.
    %h2 PRODUCT
    %p The quality and variety of products you are being serviced with should justify the money you spend for them.
    %ul 
      %li
        Not only does our 
        %span{:class => 'blue'} RFID 
        chip allow us to accurately monitor inventories, but also it allows us to 
        %span{:class => 'blue'} assign soil classifications to our garments
        , assuring 
        %span{:class => 'blue'} we wash your garments on the optimal wash formulation, 
        as it coordinates with our 
        %span{:class => 'blue'} automated tunnel washer 
        and 
        %span{:class => 'blue'} computer-driven, liquid-injection wash chemical delivery system.  
        This results in a 
        %span{:class => 'blue'} cleaner, longer lasting image.  
        %span{:class => 'blue underline'} No more returned uniforms that look as soiled as when they were picked up!
      %li 
        Being a member of such a large buying group allows us to 
        %span{:class => 'blue'} continually review
        , through a vendor approval process, 
        the 
        %span{:class => 'blue'} quality of the products 
        being supplied.  We feel very confident that 
        %span{:class => 'blue'} our approved vendors are truly leaders in their industries and provide top quality products. 
      %li 
        We also continually review our product line to ensure it remains a manageable size allowing us to have a 
        %span{:class => 'blue'} vast knowledge of the products we service
        , while remaining 
        %span{:class => 'blue'} comprehensive enough to cover our customers’ varied needs.
    %h2 CONTACT US TODAY!