%div{:id => 'products'}
  %h1 Products
  %p
    Jackson Services offers a wide range of products, most of which are made in North America.  
    Our extensive selection has helped build our reputation 
    of providing high-quality products to our customers. 
    We offer rental services and variations based on special customer requirements.
  %div{:id => 'products_bottom'}
    %div{:id => 'products_bottom_left'}
      %h2 Uniforms
      %a{:href => '/products/uniforms', :title => 'Uniforms'}
        %img{:src => '/images/products/uniforms_thumb.png', :alt => 'Uniforms'}
      %p{:class => 'first'}
        Industrial uniforms provide a professional image for your company while also serving to protect your employees. 
        Because we serve customers from several industry sectors, we have an extensive network of vendors who can supply...
      %h2 Mats, Mops & Towels
      %a{:href => '/products/mats_mops_towels', :title => 'Mats, Mops & Towels'}
        %img{:src => '/images/products/mats_mops_towels_thumb.png', :alt => 'Mats, Mops & Towels'}
      %p
        Our walk off entry mat collection sufficiently covers the gamut of potential needs for matting.  
        All of our mats are constructed of the best and most durable materials. 
        With 100% nitrile rubber backings, and super twist nylon carpeting, 
        our mats are sure to be top quality and perform their job to your satisfaction.
    %div{:id => 'products_bottom_right'}
      %h2 Linens
      %a{:href => '/products/linens', :title => 'Linens'}
        %img{:src => '/images/products/linens_thumb.png', :alt => 'Linens'}
      %p{:class => 'first'}
        Our linen is only the finest 100% Spun Poly, Signature Plus fabric from Milliken. 
        Softouch technology for a soft natural feel.  
        Spun-Filaent construction for durability and long life. 
      %h2 Restroom Supplies
      %a{:href => '/products/restroom_supplies', :title => 'Restroom Supplies'}
        %img{:src => '/images/products/restroom_supplies_thumb.png', :alt => 'Restroom Supplies'}
      %p
        We offer a wide range of restroom products designed with convenience, quality, and cleanliness in mind.  
        Our wide array of paper tissue and hand towel products should adequately cover all of you and your customer’s needs.  
        Our soap line also range from those focused on gentle cleansing foam to industrial grit soaps for the dirtiest of jobs.  
        Throw in air fresheners and you have substantially improved your restroom facilities.
  .clear