%div{:id => 'home_history'}
  %h1 Jackson History
  %dl
    %dt
      1920’s
      %dd 
        1924 - Jackson Pantorium was founded by Minnie Jackson (pictured right)
        %br
        out of her home, where she performed a myriad of services, such as rug 
        %br
        cleaning and shampooing, interior car cleaning, alterations, cleaning, 
        %br
        pressing, repairing (of personal family laundry), hatting and fabric dyeing.
        %br
        1926 - Business soon outgrew her home and built 
        %br
        the first building 
    %dt
      1930’s
      %dd
        1930 - became Jackson Dry Cleaners and Launderers
        %br
        1931 - Lee Jackson (only 2nd Generation) joined
        %br
        full-time and started Lee’s Linen Supply in
        %br
        association with the Laundry.
    %dt
      1950’s
      %dd
        1957 - Lee and Lowene became sole owners after
        %br
        Minnie’s passing (Terry and Lee pictured middle right
        %br
        of page)
        %br
        Terry Jackson (1st of the 3rd generation) started full time.
    %dt
      1960’s
      %dd
        1962 - First major expansion, modernized washroom.
    %dt
      1970’s
      %dd
        1971 - Terry became sole owner, discontinued retail dry cleaning
        %br
        and family laundry, becoming entirely a commercial laundry.
        %br
        1975 - Jay Jackson (3rd generation) joined full time coming back
        %br
        from UNL.
        %br
        1975 - Joined Robert Swift Strategic Management Group
        %br
        1975 - Terry Passed away, Jay and wife Kathy become sole
        %br
        owners (pictured at bottom)
    %dt
      1980’s
      %dd
        1983 - Major expansion to uniform department
        %br
        1989 - Joined CSC Network (a powerful buying group and
        %br
        association for Independent Launderers around the country)  
    %dt
      1990’s
      %dd
        1990 - New building
        %br
        1996 - Installed state of the art CBW Tunnel Washer,
        %br
        increasing efficiency and wash quality
    %dt
      2000’s
      %dd
        2000 - Present - Jesse Jackson, Nikki Jackson, Jason 
        %br
        Jackon, and Justin Jackson (all 4th Generation) have 
        %br
        all taken serious roles in the success of Jackson 
        %br
        Services (pictured right are Kathy, Jay, Justin, Jesse,
        %br
        Jason, and Nikki)
        %br
        2003 - Implemented RFID technology becoming one of 
        %br
        the very first plants to incorporate such technology